{% load static %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>POLAR.</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} />
    <link rel="stylesheet" href={% static 'style.css' %} />
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="icon" href={% static 'assets/litepolar.png' %}>
  </head>
  <body style="background-color: #202020">
    <!-- Navigation Bar Starts! -->
    <section>
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <div class="col-sm-2">
            {% if user.is_authenticated %}
            <a class="navtext" href="{% url 'order' %}" style="float: right">Order Form</a>
            <a class="navtext" href="{% url 'list' %}" style="float: right">Order List</a>
            {% endif %}
            
          </div>
          <div class="col-sm-8">
            <div class="text-center">
                <a class="navbar-brand text-center" href="{% url 'home' %}">
                    <button type="button" class="btn btn-dark rounded-pill" id="btnlogo"><img src={% static 'assets/litepolar.png' %} alt="" class="" style="width:6rem; height:auto"/></button>
                </a>
            </div>
          </div>
          <div class="col-sm-2">
            {% if user.is_authenticated %}
            <a class="navtext" href="{% url 'logout' %}" style="float: left">Log Out</a>
            {% else %}
            <a class="navtext" href="{% url 'login' %}" style="float: left">Log In</a>
            <a class="navtext" href="{% url 'register' %}" style="float: left">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </section>
    <!-- Navigation Bar Ends! -->
    
    <div class="container" style="margin-top: 10rem">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
      {% endfor %}
    {% endif %}
    </div>
        {% block content %}
        {% endblock content %}