{% extends 'base.html' %}
{% load static %}
{% block content %}

  
  
    
    <!-- Google Fonts -->
    <section>
      <div class="container" style="margin-top: 6rem">
        <div class="row" >
          <div class="col-6" style="margin-top: 6rem">
            <img class="" src={% static 'assets/vector.png' %} alt="Gambar" />
          </div>
          <div class="col-6" style="margin-top: 6rem">
            <h2 id="tebal" style="color:white; text-align:right">WE SOLVE CHALLENGES IN UNCONVENTIONAL WAY FOR YOUR BUSINESS</h2>
          </div>
          
        </div>
      </div>
    </section>

    <div style="margin-top: 5rem">
      <h3 class="text-center" id="tebal" style="font-family: Poppins; color: white">What we do?</h3>
      <div class="container">
        <div class="col border border-white; box-wwd" style="border-radius: 15px">
          <div class="single-box">
            <img class="image-wwd" src={% static 'assets/wwd1.PNG' %} alt="Gambar 1" />
            <div class="img-text">
              <span class="header-text"> PHOTOGRAPHY </span>
              <p>apture Your Memory</p>
            </div>
          </div>
          <div class="single-box">
            <img class="image-wwd" src={% static 'assets/wwd2.PNG' %} alt="Gambar 2" />
            <div class="img-text">
              <span class="header-text"> ART DESIGN </span>
              <p>Express Your Mind</p>
            </div>
          </div>
          <div class="single-box">
            <img class="image-wwd" src={% static 'assets/wwd3.PNG' %} alt="Gambar 3" />
            <div class="img-text">
              <span class="header-text"> ART PROJECT </span>
              <p>Design What You Want</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <div class="row" style="margin-top: 5rem">
      <h3 class="text-center" id="tebal" style="font-family: Poppins; color: white">Graphic Design Showcase</h3>
      <div class="col-sm-1"></div>
      <div class="col-sm-10 bg-#202020 border border-white" style="padding-bottom: 5rem; border-radius: 15px">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="owl-carousel owl-theme text-center">
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/Dshowcase/aquarium.png' %} alt="Gambar" />
                </div>
              </div>
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/Dshowcase/Japan.jpg' %} alt="Gambar" />
                </div>
              </div>
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/Dshowcase/Poster_RR.png' %} alt="Gambar" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row" style="margin-top: 5rem">
      <h3 class="text-center" id="tebal" style="font-family: Poppins; color: white">Photography Showcase</h3>
      <div class="col-sm-1"></div>
      <div class="col-sm-10 bg-#202020 border border-white" style="padding-bottom: 5rem; border-radius: 15px">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/Pshowcase/jepun.jpg' %} alt="Gambar" />
                </div>
              </div>
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/Pshowcase/jepun2.jpg' %} alt="Gambar" />
                </div>
              </div>
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/Pshowcase/jepun3.jpg' %} alt="Gambar" />
                </div>
              </div>
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/Pshowcase/jepun4.jpg' %} alt="Gambar" />
                </div>
              </div>
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/Pshowcase/jepun5.jpg' %} alt="Gambar" />
                </div>
              </div>
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/Pshowcase/bunga.jpg' %} alt="Gambar" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row" style="margin-top: 5rem">
      <h3 class="text-center" id="tebal" style="font-family: Poppins; color: white">Logo Showcase</h3>
      <div class="col-sm-1"></div>
      <div class="col-sm-10 bg-#202020 border border-white" style="border-radius: 15px">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/logo.png' %} alt="Gambar" />
                </div>
              </div>
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/logo.png' %} alt="Gambar" />
                </div>
              </div>
              <div class="item">
                <div class="card border-0">
                  <img class="img-owl" src={% static 'assets/logo.png' %} alt="Gambar" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
    

    <footer class="page footer" style="margin: 6rem auto 2rem auto">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 bg-#202020 border border-white rounded-3">
          <div class="row">
            <div class="col-md-2">
              <img style="max-width: 160px; height: auto; margin: 2rem 2rem" src={% static 'assets/litepolar.png' %} />
            </div>
            <div class="col-md-8" style="font-family: Poppins; color: white; margin-top: 2rem">
              <h4 id="tebal">POLAR.</h4>
              <h4 id="tebal">WE SOLVE CHALLENGES </br>IN UNCONVENTIONAL WAY </br>FOR YOUR BUSINESS</h4>
              <p>email@gmail.com<br />085214988896<br />@designwithpolar</p>
              <p></p>
            </div>
            <div class="col-md-2">
              
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </footer>
  

  <script type="text/javascript" src={% static 'js/bootstrap.min.js' %}></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

  <script>
    $(".owl-carousel").owlCarousel({
      loop: true,
      center: true,
      items: 3,
      margin: 0,
      dots: true,
      responsive: {
        0: {
          items: 1,
        },
        768: {
          items: 2,
        },
        1170: {
          items: 3,
        },
      },
    });
  </script>

{% endblock content %}