{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

  
    <section style="margin-top: 6rem;">
      
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 bg-#202020 border border-white" style="border-radius: 20px;  ">
                <h3 class="text-center" style="color: white; font-weight: 700; margin-top: 1rem">Order List</h3>
                <div class="row">
                    <div class="text-center col-sm-4"></div> 
                    <div class="text-center col-sm-4"> 
                        <form method='POST' action='' class="center">
                            {% csrf_token %}
                            {{form.description}}
                            <input type="submit" value='Search' name='q'/>
                        </form>
                    </div>
                    <div class="text-center col-sm-4"></div> 
                </div>
                <br>
                <table class="table table-bordered text-center" style="color: white; border-radius:15px;">
                    <tr>
                        <th scope="col">Customer ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Services</th>
                        <th scope="col">Status</th>
                    </tr>
                    {% for item in cust %}
                    <tr> 
                        <td>{{ item.id }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.services }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-1"></div>

        </div>
      
      
      
    </section>
    <!-- footer Starts! -->
    <footer class="page footer" style="margin: 6rem auto 2rem auto">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 bg-#202020 border border-white rounded-3">
          <div class="row">
            <div class="col-md-2">
              <img style="max-width: 160px; height: auto; margin: 2rem 2rem" src={% static 'assets/litepolar.png' %} />
            </div>
            <div class="col-md-10" style="font-family: Poppins; color: white; margin-top: 2rem">
              <h4 id="tebal">POLAR.</h4>
              <h4 id="tebal">WE SOLVE CHALLENGES </br>IN UNCONVENTIONAL WAY </br>FOR YOUR BUSINESS</h4>
              <p>topenggrafis@gmail.com<br />085214988896<br />@topeng.grafis</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>                   
  <script type="text/javascript" src={% static 'js/bootstrap.min.js' %}></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
{% endblock content %}
 

