{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section style="margin-top: 12rem;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 bg-#202020 border border-white" style="border-radius: 20px;  ">
                <h3 class="text-center" style="color: white; font-weight: 700; margin-top: 1rem">Order Form</h3>
                <form style="padding-left:4rem; padding-right:4rem" action="" method="post">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="exampleInputEmail" style="color:white;">Full Name</label>
                        <br>
                        {{form.full_name}}
                    </div>
                    <div class="form-group" style="margin-top: 1rem">
                        <label for="exampleInputEmail" style="color:white;">Email address</label><br>
                        {{form.email}}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group" style="margin-top: 1rem">
                        <label for="exampleInputPhone" style="color:white;">Phone Number</label><br>
                        {{form.phone_number}}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                    </div>
                    <label for="exampleInputPhone" style="color:white; margin-top: 1rem">Services</label><br>
                    {{form.services}}<br>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-light" style="margin-top: 1rem; border-radius:20px;">ORDER NOW!</button>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="col-md-1"></div>

        </div>
    </section>
    <!-- footer Starts! -->
    <footer class="page footer" style="margin: 6rem auto 2rem auto">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 bg-#202020 border border-white rounded-3">
          <div class="row">
            <div class="col-md-2">
              <img style="max-width: 160px; height: auto; margin: 2rem 2rem" src={% static 'assets/litepolar.png' %} />
            </div>
            <div class="col-md-10" style="font-family: Poppins; color: white; margin-top: 2rem">
              <h4 id="tebal">POLAR.</h4>
              <h4 id="tebal">WE SOLVE CHALLENGES </br>IN UNCONVENTIONAL WAY </br>FOR YOUR BUSINESS</h4>
              <p>topenggrafis@gmail.com<br />085214988896<br />@topeng.grafis</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>                   
  <script type="text/javascript" src={% static 'js/bootstrap.min.js' %}></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
{% endblock content %}
 

