* {
  font-family: Poppins;
}

#tebal {
  font-weight: 700;
  color: #fff;
}

.d-inline-block {
  width: 45px;
  height: 45px;
}

#foto-header {
  width: 400;
  height: 400;
  max-width: 100%;
  max-height: 100%;
}

#btnlogo{
  margin: 0;
}

#btnlogo:hover {
  border: 5px;
  border-color: white;
}

.box-wwd {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.single-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
}
.single-box:hover {
  background: grey;
  cursor: pointer;
}

.image-wwd {
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 6%;
}

.header-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
  color: #fff;
}

.img-text p {
  margin-top: -0.7rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.item {
  padding: 5px;
  margin-bottom: 50px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: matrix3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: matrix3d(1, 1, 1);
}

.img-owl {
  border-radius: 20px;
  max-height: 400px;
  align-items: center;
}

.navtext {
  text-decoration: none;
  font-size: 18px;
  margin-left: 30px;
  color: white;
}

.navtext:hover {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-left: 25px;
  color: white;
}